# Backend
Rag_Backend/pipeline/venv/
Rag_Backend/pipeline/__pycache__/
Rag_Backend/pipeline/**/__pycache__/
Rag_Backend/pipeline/**/*.pyc
Rag_Backend/pipeline/.env
Rag_Backend/pipeline/faiss_index/
Rag_Backend/pipeline/*.pdf
Rag_Backend/pipeline/*.log
Rag_Backend/pipeline/.pytest_cache/
Rag_Backend/pipeline/**/*.egg-info/

# Frontend
Rag_Frontend/RagChatbot_Frontend/node_modules
Rag_Frontend/RagChatbot_Frontend/dist
Rag_Frontend/RagChatbot_Frontend/dist-ssr
Rag_Frontend/RagChatbot_Frontend/.output
Rag_Frontend/RagChatbot_Frontend/.vinxi
Rag_Frontend/RagChatbot_Frontend/.tanstack/
Rag_Frontend/RagChatbot_Frontend/.nitro
Rag_Frontend/RagChatbot_Frontend/*.local
Rag_Frontend/RagChatbot_Frontend/.wrangler/
Rag_Frontend/RagChatbot_Frontend/.dev.vars
Rag_Frontend/RagChatbot_Frontend/*.log

# Root
*.log
.env
venv/
__pycache__/
